reference https://www.earthdatascience.org/courses/earth-analytics-python/using-apis-natural-language-processing-twitter/get-and-use-twitter-data-in-python/

In [1]:
import os
import tweepy as tw
import pandas as pd

In [2]:
####input your credentials here
consumer_key = os.environ['consumer_key']
consumer_secret = os.environ['consumer_secret']
access_token = os.environ['access_token']
access_token_secret = os.environ['access_token_secret']

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
search_words = "#badservice"
date_since = "2019-12-10"

In [5]:
!date

Sat Dec 14 10:05:59 IST 2019

In [7]:
# Collect tweets
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)
print(tweets)

<tweepy.cursor.ItemIterator object at 0x11fc084d0>

In [8]:
# Collect tweets
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)

# Iterate and print tweets
for tweet in tweets:
    print(tweet.text)

@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X
@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.
The kid that helpe… https://t.co/OOdaVfzz3N
@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b
@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC

In [9]:
# Collect tweets
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="en",
                       since=date_since).items(5)

# Collect a list of tweets
[tweet.text for tweet in tweets]

['@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X',
 '@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.\nThe kid that helpe… https://t.co/OOdaVfzz3N',
 '@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b',
 '@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC']

In [10]:
new_search = search_words + " -filter:retweets"
new_search

'#badservice -filter:retweets'

In [11]:
tweets = tw.Cursor(api.search,
                       q=new_search,
                       lang="en",
                       since=date_since).items(5)

[tweet.text for tweet in tweets]

['@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X',
 '@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.\nThe kid that helpe… https://t.co/OOdaVfzz3N',
 '@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b',
 '@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC']

In [26]:
tweets = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(5)

users_locs = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.id] for tweet in tweets]

In [27]:
users_locs

[['SreedharBukya',
  'Hyderabad, India',
  '@apollomunichins It is very sad that your team unable to renew my insurance because of your employee negligence of… https://t.co/qgbmiOycfC',
  1205696371048583168],
 ['claire_s40',
  'Southern California',
  '@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X',
  1205684528372576256],
 ['LoriSweeney10',
  'Ontario',
  '@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.\nThe kid that helpe… https://t.co/OOdaVfzz3N',
  1205647948761223168],
 ['Koa_aloha',
  '',
  '@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b',
  1205643710836416513],
 ['Spook_asem',
  'Glasgow, Scotland',
  '@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC',
  1205641236935315461]]

In [28]:
a = api.get_status(1205696371048583168, tweet_mode='extended')

In [29]:
a.full_text

"@apollomunichins It is very sad that your team unable to renew my insurance because of your employee negligence of handling the process and coming with excuse head office team didn't do their job. This is all after you take payment. \n #CustomerExperience #frustrated #badservice"

In [30]:
tweets = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(200)

users_locs = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.id] for tweet in tweets]

In [31]:
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', "location", "text", "id"])

,user,location,text,id
0,SreedharBukya,"Hyderabad, India",@apollomunichins It is very sad that your team...,1205696371048583168
1,claire_s40,Southern California,@kirklands More than 24 hours since I left the...,1205684528372576256
2,LoriSweeney10,Ontario,@EBGamesCanada so....I have never been in one ...,1205647948761223168
3,Koa_aloha,,"@Chime I sent you a bunch of information, howe...",1205643710836416513
4,Spook_asem,"Glasgow, Scotland",@financialombuds we are still waiting for our ...,1205641236935315461
...,...,...,...,...
195,akshitlakhani2,,@UberEats_IND\nI ordered food two day ago and ...,1204773628081885184
196,akshitlakhani2,,@UberEats \nI ordered food two day ago and mad...,1204771995893649408
197,laird_matt,coventry,@IWOOT_CS @iwoot @Hermesparcels I’m not sure w...,1204768101507698689
198,shawsey81,Brum,"@Hermesparcels not impressed by your service, ...",1204767535276732417
199,neozizo235,"Johannesburg, South Africa",@VoxTelecom I’ve been calling Vox for the past...,1204767074117132288

In [32]:
tweet_text.head()

,user,location,text,id
0,SreedharBukya,"Hyderabad, India",@apollomunichins It is very sad that your team...,1205696371048583168
1,claire_s40,Southern California,@kirklands More than 24 hours since I left the...,1205684528372576256
2,LoriSweeney10,Ontario,@EBGamesCanada so....I have never been in one ...,1205647948761223168
3,Koa_aloha,,"@Chime I sent you a bunch of information, howe...",1205643710836416513
4,Spook_asem,"Glasgow, Scotland",@financialombuds we are still waiting for our ...,1205641236935315461

In [33]:
%%time

tweet_text['full_text'] = tweet_text['id'].apply(lambda x: api.get_status(x, tweet_mode='extended').full_text)

In [34]:
tweet_text.head()

,user,location,text,id,full_text
0,SreedharBukya,"Hyderabad, India",@apollomunichins It is very sad that your team...,1205696371048583168,@apollomunichins It is very sad that your team...
1,claire_s40,Southern California,@kirklands More than 24 hours since I left the...,1205684528372576256,@kirklands More than 24 hours since I left the...
2,LoriSweeney10,Ontario,@EBGamesCanada so....I have never been in one ...,1205647948761223168,@EBGamesCanada so....I have never been in one ...
3,Koa_aloha,,"@Chime I sent you a bunch of information, howe...",1205643710836416513,"@Chime I sent you a bunch of information, howe..."
4,Spook_asem,"Glasgow, Scotland",@financialombuds we are still waiting for our ...,1205641236935315461,@financialombuds we are still waiting for our ...

In [35]:
tweet_text.shape

(200, 5)

In [36]:
tweet_text.to_csv('consumer_complaints.csv')