reference https://www.earthdatascience.org/courses/earth-analytics-python/using-apis-natural-language-processing-twitter/get-and-use-twitter-data-in-python/

In [1]:
import os
import tweepy as tw
import pandas as pd

In [2]:
####input your credentials here
consumer_key = os.environ['consumer_key']
consumer_secret = os.environ['consumer_secret']
access_token = os.environ['access_token']
access_token_secret = os.environ['access_token_secret']

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
search_words = "#badservice"
date_since = "2019-12-10"

In [5]:
!date

Sat Dec 14 10:05:59 IST 2019

In [7]:
# Collect tweets
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)
print(tweets)

<tweepy.cursor.ItemIterator object at 0x11fc084d0>

In [8]:
# Collect tweets
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5)

# Iterate and print tweets
for tweet in tweets:
    print(tweet.text)

@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X
@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.
The kid that helpe… https://t.co/OOdaVfzz3N
@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b
@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC

In [9]:
# Collect tweets
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="en",
                       since=date_since).items(5)

# Collect a list of tweets
[tweet.text for tweet in tweets]

['@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X',
 '@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.\nThe kid that helpe… https://t.co/OOdaVfzz3N',
 '@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b',
 '@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC']

In [10]:
new_search = search_words + " -filter:retweets"
new_search

'#badservice -filter:retweets'

In [11]:
tweets = tw.Cursor(api.search,
                       q=new_search,
                       lang="en",
                       since=date_since).items(5)

[tweet.text for tweet in tweets]

['@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X',
 '@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.\nThe kid that helpe… https://t.co/OOdaVfzz3N',
 '@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b',
 '@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC']

In [26]:
tweets = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(5)

users_locs = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.id] for tweet in tweets]

In [27]:
users_locs

[['SreedharBukya',
  'Hyderabad, India',
  '@apollomunichins It is very sad that your team unable to renew my insurance because of your employee negligence of… https://t.co/qgbmiOycfC',
  1205696371048583168],
 ['claire_s40',
  'Southern California',
  '@kirklands More than 24 hours since I left the DM you requested.  No response.  Your customer service is atrocious.… https://t.co/clSygy6A9X',
  1205684528372576256],
 ['LoriSweeney10',
  'Ontario',
  '@EBGamesCanada so....I have never been in one of your stores so it was confusing as a non gamer.\nThe kid that helpe… https://t.co/OOdaVfzz3N',
  1205647948761223168],
 ['Koa_aloha',
  '',
  '@Chime I sent you a bunch of information, however after reviewing the information I realized that your reps are inv… https://t.co/bFOV6o0d2b',
  1205643710836416513],
 ['Spook_asem',
  'Glasgow, Scotland',
  '@financialombuds we are still waiting for our claim to be finalised after 7 weeks and NO contact from… https://t.co/LEz3AtFOWC',
  1205641236935315461]]

In [28]:
a = api.get_status(1205696371048583168, tweet_mode='extended')

In [29]:
a.full_text

"@apollomunichins It is very sad that your team unable to renew my insurance because of your employee negligence of handling the process and coming with excuse head office team didn't do their job. This is all after you take payment. \n #CustomerExperience #frustrated #badservice"

In [30]:
tweets = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(200)

users_locs = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.id] for tweet in tweets]

In [31]:
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', "location", "text", "id"])

,user,location,text,id
0,SreedharBukya,"Hyderabad, India",@apollomunichins It is very sad that your team...,1205696371048583168
1,claire_s40,Southern California,@kirklands More than 24 hours since I left the...,1205684528372576256
2,LoriSweeney10,Ontario,@EBGamesCanada so....I have never been in one ...,1205647948761223168
3,Koa_aloha,,"@Chime I sent you a bunch of information, howe...",1205643710836416513
4,Spook_asem,"Glasgow, Scotland",@financialombuds we are still waiting for our ...,1205641236935315461
...,...,...,...,...
195,akshitlakhani2,,@UberEats_IND\nI ordered food two day ago and ...,1204773628081885184
196,akshitlakhani2,,@UberEats \nI ordered food two day ago and mad...,1204771995893649408
197,laird_matt,coventry,@IWOOT_CS @iwoot @Hermesparcels I’m not sure w...,1204768101507698689
198,shawsey81,Brum,"@Hermesparcels not impressed by your service, ...",1204767535276732417
199,neozizo235,"Johannesburg, South Africa",@VoxTelecom I’ve been calling Vox for the past...,1204767074117132288

In [32]:
tweet_text.head()

,user,location,text,id
0,SreedharBukya,"Hyderabad, India",@apollomunichins It is very sad that your team...,1205696371048583168
1,claire_s40,Southern California,@kirklands More than 24 hours since I left the...,1205684528372576256
2,LoriSweeney10,Ontario,@EBGamesCanada so....I have never been in one ...,1205647948761223168
3,Koa_aloha,,"@Chime I sent you a bunch of information, howe...",1205643710836416513
4,Spook_asem,"Glasgow, Scotland",@financialombuds we are still waiting for our ...,1205641236935315461

In [33]:
%%time

tweet_text['full_text'] = tweet_text['id'].apply(lambda x: api.get_status(x, tweet_mode='extended').full_text)

In [ ]:
def operation(text):
    if "sad" in text:
        return "yes"
    else:
        return "no"

In [ ]:
tweet_text['is_sad'] = tweet_text['text'].apply(operation
                                               '')

In [34]:
tweet_text.head()

,user,location,text,id,full_text
0,SreedharBukya,"Hyderabad, India",@apollomunichins It is very sad that your team...,1205696371048583168,@apollomunichins It is very sad that your team...
1,claire_s40,Southern California,@kirklands More than 24 hours since I left the...,1205684528372576256,@kirklands More than 24 hours since I left the...
2,LoriSweeney10,Ontario,@EBGamesCanada so....I have never been in one ...,1205647948761223168,@EBGamesCanada so....I have never been in one ...
3,Koa_aloha,,"@Chime I sent you a bunch of information, howe...",1205643710836416513,"@Chime I sent you a bunch of information, howe..."
4,Spook_asem,"Glasgow, Scotland",@financialombuds we are still waiting for our ...,1205641236935315461,@financialombuds we are still waiting for our ...

In [35]:
tweet_text.shape

(200, 5)

In [36]:
tweet_text.to_csv('consumer_complaints.csv')

In [4]:
search_words = ["#nowifi", "#badfood"]
date_since = "2019-12-10"

In [8]:
full_df = pd.DataFrame()

for sw in search_words:
    new_search = sw + " -filter:retweets"
    tweets = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(50)
    
    users_locs = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.id] for tweet in tweets]
    tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', "location", "text", "id"])
    tweet_text['full_text'] = tweet_text['id'].apply(lambda x: api.get_status(x, tweet_mode='extended').full_text)
    tweet_text["label"] = sw
    full_df = pd.concat([full_df, tweet_text])

In [9]:
full_df.shape

(31, 6)

In [10]:
full_df

,user,location,text,id,full_text,label
0,jen2hands,,Entering our 4th day along with a whole swathe...,1208556469442031617,Entering our 4th day along with a whole swathe...,#nowifi
1,Code_With_GDD,"Rangpur, Bangladesh",I wish twitter was on FreeBasics...\n😫😩😫😩😫\n#L...,1208375320350322690,I wish twitter was on FreeBasics...\n😫😩😫😩😫\n#L...,#nowifi
2,GeekForHireInc,Front Range of Colorado,Check your phone or tablet. If they cant conn...,1208233146015211521,Check your phone or tablet. If they cant conn...,#nowifi
3,dee_robertson,London,. @SkyHelpTeam I’m enjoying the irony #NoWiFi ...,1208134086772039680,. @SkyHelpTeam I’m enjoying the irony #NoWiFi ...,#nowifi
4,dee_robertson,London,@SkyHelpTeam I’m enjoying the irony #noWiFi ht...,1208129555141201920,@SkyHelpTeam I’m enjoying the irony #noWiFi ht...,#nowifi
5,PedMillichamp,New Malden,@mortenmorland @virginmedia Same here in New M...,1207940194781061122,@mortenmorland @virginmedia Same here in New M...,#nowifi
6,ParadigmSurfR,"Orange County, CA",I thought the bay area was uber tech 🤷🏼‍♂️ #no...,1207874678326382592,I thought the bay area was uber tech 🤷🏼‍♂️ #no...,#nowifi
7,ArooojZahra,Pakistan,"Did that on Monday, i dont know what is going ...",1207537857059074049,"Did that on Monday, i dont know what is going ...",#nowifi
8,garymunns,,"@OfSelina No chance, unless you’re Christmasin...",1207411366639865856,"@OfSelina No chance, unless you’re Christmasin...",#nowifi
9,GeekySales,"Front Range, Colorado",Check your phone or tablet. If they cant conn...,1207156105497006080,Check your phone or tablet. If they cant conn...,#nowifi
10,denise_cronin,"Dublin City, Ireland",@rickoshea Yes - home to Cavan for Christmas i...,1206674383730872322,@rickoshea Yes - home to Cavan for Christmas i...,#nowifi
11,samerbagaeen,"Brighton, United Kingdom",Welcome to the Stone Age on board @TLRailUK 16...,1206614979975073798,Welcome to the Stone Age on board @TLRailUK 16...,#nowifi
12,marykaycooper,"San Antonio, TX",He’s going to hook up a DVD player so I can wa...,1206362886219665409,He’s going to hook up a DVD player so I can wa...,#nowifi
13,GeekForHireInc,Front Range of Colorado,Turn your router and modem off and back on aga...,1206348469864189953,Turn your router and modem off and back on aga...,#nowifi
14,ReviewGirl8,"New York, NY",@homegoods Your wifi is atrocious- oh wait - t...,1206312451442126849,@homegoods Your wifi is atrocious- oh wait - t...,#nowifi
15,VolantiImaging,"Heathfield, England","Had a little visitor in the office today, unti...",1206303781648027648,"Had a little visitor in the office today, unti...",#nowifi
16,ArooojZahra,Pakistan,Pathetic customer service by @Zongers - your c...,1206217311524458497,Pathetic customer service by @Zongers - your c...,#nowifi
17,TrudyLam1,"Ontario, Canada",Stuck at home with a vile 12 year old is exact...,1205875604014485504,Stuck at home with a vile 12 year old is exact...,#nowifi
0,wandering_techi,India,@swiggy_in Black chapati?? Is that a new breed...,1208447263103574016,@swiggy_in Black chapati?? Is that a new breed...,#badfood
1,Essexlloydy,essex,@JustEatUK does anyone in your customer suppor...,1208418271642488832,@JustEatUK does anyone in your customer suppor...,#badfood
2,BLimaLand,"Windermere, FL","Just in case you're curious, this is what #Cup...",1208130886891376642,"Just in case you're curious, this is what #Cup...",#badfood
3,MrJamieMack,,@Wendys I bought a grilled chicken Caesar sala...,1208115368759308288,@Wendys I bought a grilled chicken Caesar sala...,#badfood
4,aditi281297,,"My last four orders have been terrible, cold, ...",1207572977203597313,"My last four orders have been terrible, cold, ...",#badfood
5,leylatabrizi,"London, England",@Deliveroo @DeliverooHelp says they can’t offe...,1206853357123575818,@Deliveroo @DeliverooHelp says they can’t offe...,#badfood
6,Metah4,Harlem,@7elevencares ummmm....I usually love your sal...,1206670692135120896,@7elevencares ummmm....I usually love your sal...,#badfood
7,Metah4,Harlem,@7eleven ummmm....I usually love your salad.. ...,1206668954443419648,@7eleven ummmm....I usually love your salad.. ...,#badfood
8,the_rajsolanki,"Pune, India",Worst food from swiggy...bad experience @Swig...,1206630997531357184,Worst food from swiggy...bad experience @Swig...,#badfood
9,leonianwriter,"Gurgaon, India",@SwiggyCares Do you even care to reply? #Badfo...,1206261821302161408,@SwiggyCares Do you even care to reply? #Badfo...,#badfood
10,amitmathai,"New Delhi, India",@ZomatoIN This is the quality of food I receiv...,1205924460634628097,@ZomatoIN This is the quality of food I receiv...,#badfood
11,Dad_A_F,United Kingdom,Which one are you? \n•\n•\n•\n#dad #dadaf #dad...,1205924223270686722,Which one are you? \n•\n•\n•\n#dad #dadaf #dad...,#badfood
12,amitmathai,"New Delhi, India",@swiggy_in This is the quality of food I recei...,1205924176030076928,@swiggy_in This is the quality of food I recei...,#badfood

In [13]:
final_df = full_df[["text", "label"]]

In [14]:
final_df.to_csv("dataset.csv")